<div id="signup" >
  <div class="headers-intro">
    <h1>Data user:</h1>

    </div>

  <div class="container-usprofile">
    <div class="data-user">
        <p>Name: <strong>{{user.username}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
    </div>
     <img src="{{user.imageUrl}}" alt="profile picture"class="picture-profile"><br>

    <h3>About your user data</h3>
    <div class="bottom-section">

         <div class="sectionbt-bottom">

            <button class="bt2" onclick="window.location.href='/auth/{{user._id}}/update'">Update data</button>
            <button onclick="history.back()" class="bt1">Go back</button>  
         </div>

       <div class="sectionbt-bottom">
            <form action="/auth/logout" method="post">
                    <button type="submit" >Logout</button>   
                </form>
         
            <form method="POST" action="/auth/{{user._id}}/removeAccount">
                <button type="submit" class="bt3">Remove account</button>
            </form>
        </div>    
    </div>   
</div>
