
<div id="list-storage">

  <div class="container-forms">
    <br><br><br>
   <h3>{{storage.boxname}}</h3>
{{#unless bricks}}
<h1>No bricks in this box</h1>
{{/unless}}
<ul>  
     {{#each bricks}}
        <li> <h1>  {{brickCategoryId.brickCategoryName}}</h1></li>
        <li> <img src="{{brickCategoryId.picture}}" alt="img"></li>
    {{/each}}
</ul>
    <button class="bt1" onclick="window.location.href='/storage/storage'">Show list  Storage</button>
    <a class="action-btn" href="/storage/{{storage._id}}/edit"><h3>Edit storage</h3></a>
     <a class="action-btn" href="/storage/{{storage._id}}/deleteBricks"><h3>Delete bricks</h3></a>
</div>
             
  