
<div id="details-storage">

  <div class="container-forms">
    <h1>Edit the Storage</h1>
       <h2>Name box: {{storage.boxname}}</h2>
{{#unless storage}}
<h2>There isn't any box to show</h2>
{{/unless}}

{{#unless bricks}}
<h2>No bricks</h2>
{{/unless}}

  <h3></h3>
    <div class="pageList">

        <div class="card">
          <img src="{{storage.picture}}">
          {{#each bricks}}
<img src="{{this.brickCategoryId.picture}}" />
<p>{{this.brickCategoryId.brickCategoryName}}</p>
<p>{{this.quantity}} units</p>
{{/each}}
        </div>

    </div>
       
</ul>


<div class="bottom-section-admin-bt">
         <div class="col flex-column">
             <p>Storage:</p>
             <div class="bottons-admin"> 
             <button class="bt5" onclick="window.location.href='/storage/{{storage._id}}/edit'">Edit <i class="fa-solid fa-pen"></i></button> 
             <button class="bt6" onclick="window.location.href='/storage/storage'">List <i class="fa-solid fa-table-list"></i></button> 
             </div>
         </div>
         <div class="column-center flex-column">
            <p></p>
            <button onclick="history.back()" class="bt7"><i class="fa-solid fa-backward"></i></button>  
        </div>
        <div class="col flex-column">
              <p>Storage:</p>
             <div class="bottons-admin">
               <form  method="POST" action="/storage/{{storage._id}}/deleteBricks">
                <button class="bt8 with60" type="submit">Erase <i class="fa-solid fa-trash-can"></i></button>
              </form>
             <button class="bt5" onclick="window.location.href='/brick/create-brick'">Add <i class="fa-solid fa-plus"></i></button> 
             </div>
        </div>
        


 </div>

  </div>

           
</div>