
<div id="edit-brick">
<h1>Edit box storage</h1>

<div class="container-forms">
        
        <div class="data-user">
            {{#unless user}}
            <h2>You need to be logged to see this page</h2>
            {{/unless}}


            <form  method="POST" action="/storage/{{storage._id}}/edit" class="form-singup">
                <h2>{{storage.boxname}}</h2>

                <p>{{storage._id}}</p>

                 <label>Box name</label>
                 <input type="text" name="boxname" value='{{storage.boxname}}'/>
                  
                  <label>Bricks</label>
                <select name="bricks" multiple>
                    {{#each brick}}                    
                        <option value="{{_id}}">{{brickCategoryName}} , {{_id}}</option>                 
                    {{/each}}
                </select>           
            
            <div class="bottom-signlogin">
                <button type="submit" class="btn-green">Update <i class="fa-solid fa-rocket"></i></button>
            </div>
            </form>

    </div>
</div>



