<div id="details-bricks">

  <div class="container-forms">
    <h1>About your Lego part</h1>
    
{{#unless brickpart}}
    <h2>There isn't any brick to show</h2>
{{/unless}}

   
   
     <div class="pict-card">
          <img src={{brickpart.brickCategoryId.picture}}>
    </div>
    <div class="info-list">
            <h3>{{brickpart.brickCategoryId.brickCategoryName}}</h3>
            <p><strong>Storage name:</strong> {{storage.brickpart.boxname}}</p>
            <p><strong>Brick ID:</strong> {{brickpart._id}}</p>
            <p><strong>Status:</strong> {{brickpart.status}}</p>
            <p><strong>Color:</strong> {{brickpart.brickCategoryId.color}}</p>
            <p><strong>Quantity:</strong> {{brickpart.quantity}}</p>
           
    </div>
 

 {{#if user}}

<div class="bottom-section-admin-bt">
         <div class="col flex-column">
             <p>Bricks:</p>
             <div class="bottons-admin"> 
             <button class="bt5" onclick=window.location.href="/brick/{{brickpart._id}}/edit">Edit <i class="fa-solid fa-pen"></i></button> 
             <button class="bt6" onclick="window.location.href='/brick/list'">List <i class="fa-solid fa-table-list"></i></button> 
             </div>
         </div>
         <div class="column-center flex-column">
            <p></p>
            <button onclick="history.back()" class="bt7"><i class="fa-solid fa-backward"></i></button>  
        </div>
        <div class="col flex-column">
             <p>Bricks:</p>
             <div class="bottons-admin">
               <form  method="POST" action="/brick/{{brickpart._id}}/delete">
                <button class="bt8 with60" type="submit">Erase <i class="fa-solid fa-trash-can"></i></button>
              </form>
             <button class="bt5" onclick=window.location.href="/brick/{{brickpart._id}}/edit">Edit <i class="fa-solid fa-pen"></i></button> 
             </div>
        </div>


 </div>


  {{/if}}
  </div>
</div>

