<div id="details-bricks">

  <div class="container-forms">
    <h1>About your Lego part</h1>
    
{{#unless brickpart}}
    <h2>There isn't any brick to show</h2>
{{/unless}}

     {{#each brickpart}}
   
     <div class="pict-card">
          <img src="{{brickCategoryId.picture}}">
    </div>
    <div class="info-list">
            <h3>{{brickCategoryId.brickCategoryName}}</h3>
            <p><strong>Brick ID: {{_id}}</p>
            <p><strong>Status:</strong> {{status}}</p>
            <p><strong>Color:</strong> {{color}}</p>
            <p><strong>Quantity:</strong> {{quantity}}</p>
            <p><strong>User ID:</strong> {{userId}}</p>
            <p><strong>Storage name:</strong> {{storageName}}</p>
    </div>
 
    {{/each}}

 {{#if user}}
  
  <div class="bottom-section">

         <div class="sectionbt-bottom">

            <button class="bt2" onclick="window.location.href='/brick/{{_id}}/edit'">Edit brick</button>
            <button onclick="history.back()" class="bt1">Go back</button>  
         </div>

       <div class="sectionbt-bottom">
            <button class="bt3" onclick="window.location.href='/brick/{{_id}}/delete">Delete brick</button>
            <button  onclick="window.location.href='/brick/list'">Storage list</button>  
        </div>  
  </div>

  {{/if}}

</div>

