<div id="details-bricks">

  <div class="container-forms">
    <h1>About your Lego part</h1>
   <h3>{{boxname}}</h3>
{{#unless brick}}
<h2>There isn't any brick to show</h2>
{{/unless}}
<ul>
     {{#each brick}}
     <div class="pict-card">
          <img src="{{brickCategoryId.picture}}">
        </div>
        <div class="info-list">
            <h3>Category: {{brickCategoryId.brickCategoryName}}</h3>
            <p>Brick id: {{_id}}</p>
            <p>Status: {{status}}</p>
            <p>Color: {{color}}</p>
            <p>Quantity: {{quantity}}</p>
        </div>
    {{/each}}
</ul>
 {{#if user}}
    <div class="edit-delete">
        <a class="action-btn" href="/brick/{{_id}}/edit"><h3>Edit bricks</h3></a>
        <a class="action-btn" href="/brick/{{_id}}/deleteBrickInStorage"><h3>Delete brick</h3></a>
     </div>
        <button class="bt1" onclick="window.location.href='/brick/list'">Show list all brikcs</button>
  {{/if}}
  </div>
</div>
