<div id="details-bricks">

  <div class="container-forms">
    <h1>About your Lego part</h1>
    
{{#unless brickpart}}
    <h2>There isn't any brick to show</h2>
{{/unless}}

   
   
     <div class="pict-card">
          <img src={{brickpart.brickCategoryId.picture}}>
    </div>
    <div class="info-list">
            <h3>{{brickpart.brickCategoryId.brickCategoryName}}</h3>
            <p><strong>Brick ID:</strong> {{brickpart._id}}</p>
            <p><strong>Status:</strong> {{brickpart.status}}</p>
            <p><strong>Color:</strong> {{brickpart.brickCategoryId.color}}</p>
            <p><strong>Quantity:</strong> {{brickpart.quantity}}</p>
            <p><strong>Storage name:</strong> {{brickpart.storageName}}</p>
    </div>
 

 {{#if user}}
  
  <div class="bottom-section">

         <div class="sectionbt-bottom">
          <button class="bt2" onclick=window.location.href="/brick/{{brickpart._id}}/edit">Edit brick</button>         
          <button onclick="history.back()" class="bt1">Go back</button>  
         </div>

       <div class="sectionbt-bottom">
            <button class="bt3" onclick=window.location.href="/brick/{{_id}}/delete">Delete brick</button>
            <button  onclick="window.location.href='/brick/list'">Bricks list</button>  
        </div>  
  </div>

  {{/if}}

</div>

