
<h1>Bricks list</h1>
<div class="pageList"> 

    {{#each brick}}
      <div class="card">    
        {{#if user}}
 {{_id}}
{{/if}}
        <div>
          <img src={{picture}}>
        </div>
        <div>          
            <p>Name: {{brickCategoryName}}</p>
            <p>Category id: {{brickCategoryLegoId}}</p>
            <p>Status: {{status}}</p>
            <p>Color: {{color}}</p>
            <p>Quantity: {{quantity}}</p>         
        </div>  
      </div>
    {{/each}}

    
 
  
  </div>