<div id="list-bricks" >

  <div class="container-forms">
    <h1>Bricks list</h1>

    {{#each brick}}
      <div class="card">    
        {{#if user}}
            {{_id}}
        {{/if}}
        <div class="pict-card">
          <img src="{{picture}}">
        </div>
        <div class="info-list">          
            <h3>Category: {{brickCategoryId.brickCategoryName}}</h3>
            <p>Brick id: {{_id}}</p>
            <p>Status: {{status}}</p>
            <p>Color: {{color}}</p>
            <p>Quantity: {{quantity}}</p>  
            <button onclick="window.location.href='/brick/{{ _id }}/edit'" type="submit" class="bt1 more-inf">More info</button>
        </div>

      </div>
    {{/each}}  
  </div>
</div>