<div id="list-bricks" >

  <div class="container-forms">
    <h1>Bricks list</h1>

    {{#each brick}}
      <div class="card">    
        {{#if user}}
            {{_id}}
        {{/if}}
        <div class="pict-card">
          <img src="{{brickCategoryId.picture}}">
        </div>
        <div class="info-list">          
            <h3>Category: {{brickCategoryId.brickCategoryName}}</h3>
            <p>Status: {{status}}</p>
            <p>Quantity: {{quantity}}</p>  
            <button class="bt1" onclick="window.location.href='/brick/{{_id}}/details-brick'">More info</button>
        </div>

      </div>
    {{/each}}  
  </div>
</div>