<h2>Bricks</h2>
{{#each brick}}
  <div id="brick-card">
    <img src={{this.picture}}>
    <p><strong>Name:</strong> {{this.brickCategoryName}}</p>
    <p><strong>Status:</strong> {{this.status}}</p>
    <p><strong>Color:</strong> {{this.color}}</p>
    <p><strong>Quantity:</strong> {{this.quantity}}</p>
    <p><strong>storageId:</strong>{{this.storageId}}</p>
    
    <div class="action-btns">
    <a class="action-btn" href="/bricks/{{this._id}}/edit">Edit</a>
    <form method="POST" action="/bricks/{{this._id}}/delete">
      <button type="submit">Delete</button>
    </form>
        </div>
  </div>
{{/each}}