
<div class="pageList">
{{#each brick}}
  <div class="cardsBricks">
    <div>
      <img src={{picture}}>
    </div>
<div>   
   <p>Name: {{brickCategoryName}}</p>
    <p>Status: {{this.status}}</p>
    <p>Color: {{this.color}}</p>
     <p>Quantity: {{this.quantity}}</p> 
    <a class="action-btn" href="/brick/{{this._id}}/edit"><h3>Edit</h3></a>
    <form method="POST" action="/brick/{{this._id}}/delete">
      <button type="submit">Delete</button>
    </form>

</div>
   


   
  </div>
{{/each}}
</div>
