
<h1>Bricks list</h1>
<h1>Bricks list</h1>
<div class="pageList"> 

    {{#each brick}}
      <div class="card">    
        <div>
          <img src={{picture}}>
        </div>
        <div>   
          <p>Name: {{brickCategoryName}}</p>
            <p>Status: {{status}}</p>
            <p>Color: {{color}}</p>
            <p>Quantity: {{quantity}}</p> 
            <a class="action-btn" href="/brick/{{_id}}/edit"><h3>Edit</h3></a>
            <form method="POST" action="/brick/{{_id}}/delete">
              <button type="submit">Delete</button>
            </form>
        </div>  
      </div>
    {{/each}}
</div>
