
<div id="edit-brick">
<h1>Edit a Lego part</h1>
<div class="container-forms">

<div class="data-user">
   {{#unless user}}
  <h2>You need to be logged to see this page</h2>
   {{/unless}}

 {{#if user}}
      <form  class="form-singup" method="POST" action="/brick/{{brick._id}}/edit">

      <h2>{{brick.brickCategoryId.brickCategoryName}}</h2>
      <img src="{{brick.brickCategoryId.picture}}">
      <p><strong>Lego ID: </strong>{{brick.brickCategoryId.brickCategoryLegoId}}</p>

      <label>Quantity</label>
      <input type="number" name="quantity"  value='{{brick.quantity}}'/>


      <label>Choose the status:</label>
      <select name="status" id="status" form="creation-form">
<<<<<<< HEAD
        <option value="Using">Using in a set</option>
       <option 
{{#if (ifEquals brick.status "Stored")}} selected {{/if}}value="Stored">Stored in a box</option>
        <option value="Lost">Unlocated</option>
=======
        <option value="Stored">Stored</option>
        <option value="Using">Using</option>
        <option value="Lost">Lost</option>
>>>>>>> df7b267f8a95ddbf01f5974f39c1c7eb960f40d0
      </select>

       

       <select name="storageName">
        <option>No box</option>
            {{#each storage}}
                <option value="{{_id}}">{{boxname}}</option>
            {{/each}}
        </select>

       <div class="bottom-signlogin">
            <button type="submit" class="btn-green">Update <i class="fa-solid fa-rocket"></i></button>
        </div>
    </form>
    {{/if}} 
  </div>
  
</div>

