
<div id="edit-brick">
<h1>Edit a Lego part</h1>
<div class="container-forms">

<div class="data-user">

      <form  class="form-singup" method="POST" action="/brick/{{_id}}/edit">

      <label>Name</label>
      <input type="text" name="brickCategoryName" value='{{brickCategoryId.brickCategoryName}}'/>

      <label>Lego ID</label>
      <input type="number" name="brickCategoryLegoId" value='{{brickCategoryId.brickCategoryLegoId}}'/>

      <label>Quantity</label>
      <input type="number" name="quantity"  value='{{quantity}}'/>

      <label>Color:</label>
      <input type="text" name="color" value='{{brickCategoryId.color}}'/>
      <label>Picture:</label>
      <input type="text" name="picture" value='{{brickCategoryId.picture}}'/>

      <label>Choose the status:</label>
      <select name="status" id="status" form="creation-form">
        <option value="Using in a set">Using in a set</option>
        <option value="Stored in a box">Stored in a box</option>
        <option value="Unlocated">Unlocated</option>
      </select>

       <div class="bottom-signlogin">
            <button type="submit" class="btn-green">Update <i class="fa-solid fa-rocket"></i></button>
        </div>
    </form>
  </div>
  
</div>

